/* * {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafbfc;
} */

h1 {
  margin: 10px 0;
  color: #023047;
}

.main {
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  background: #fff;
  padding: 16px 32px;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
}

.main form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main .choices {
  display: flex;
  gap: 20px;
}

.main textarea {
  padding: 16px;
  font-size: 20px;
  height: 140px;
  resize: none;
  line-height: 1.7;
  border: 1px solid #023047;
}

.main button {
  padding: 8px;
  font-size: 20px;
  border: none;
  background: #70d6f5;
  color: #fff;
  cursor: pointer;
}

.translation {
  padding: 12px 32px;
  background: #edf2f4;
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.7;
  height: 140px;
  overflow-y: scroll;
  position: relative;
}

.translation .copy-btn {
  position: absolute;
  width: 20px;
  top: 12px;
  right: 12px;
  opacity: 0.7;
  cursor: pointer;
}

.notification {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100px);
  background: #023047;
  color: #fff;
  padding: 12px 24px;
  border-radius: 30px;
  transition: all 400ms ease;
}

.notification.active {
  transform: translate(-50%, -30px);
}

.error {
  color: red;
}