/* Define the container for the round image */

.container {
  position: relative;
  width: 400px; 
  height: 400px; 
}

.Card{
  background: #d9a7c7;
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
  background: linear-gradient(to right, #fffcdc, #dbb6ce); 
 

}

.round-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.wave {
  position: absolute;
  top: -10px; 
  left: -10px; 
  width: 460px; 
  height: 480px; 
  border-radius: 50%;
  background: conic-gradient(from 0deg, transparent 30%, #9e34db 30%, transparent 70%, #34db66 70%);
  animation: wave-animation 3s linear infinite;
  z-index: 1;
  pointer-events: none; 
}

@keyframes wave-animation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


.Btn{
  text-decoration: none;
  color:rgb(11, 11, 165)
}

.startBtn{
  text-decoration: none;
  
}